* {
    box-sizing: border-box;
  }
body{
    background-image: url('../img/urbanbrush-20210908111424631848.jpg');
    background-size: cover;

}
h1{
    color: rgb(255, 40, 183);
    font-family:fantasy;
    font-size: 200%;
  }
.saludo{
    color: rgb(175, 2, 255);
    font-family: monospace;
    font-size: 180%;
}
.info{
    color: rgb(0, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.desc{
    color: rgb(0, 187, 255);
    font-family: monospace;
    font-size: 130%;
}
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
    color: rgb(160, 31, 199);
    font-family: monospace;
  }
  
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }
  button{
    background-color: rgb(31, 123, 49);
color: white;
padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: cursive;
}
button:hover
{
  background-color: rgb(4, 73, 1);

}
